/*!
 * This file contains all buttons and color fill rules
 * Author: Matheus Alexandre de Sena (@matthsena) 
 */
.btn {
    max-height: auto;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.btn:active,
.btn:focus {
    outline: none;
}

.btn:hover {
    transition: all .3s linear;
    cursor: pointer;
    opacity: 0.8;
}

.btn::after {
    display: none;
    content: "";
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.6);
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    top: 50%;
    left: 50%;
    animation: ripple 1.5s;
    opacity: 0;
}

.btn:not(:active)::after {
    display: block;
}

/* red */
.red {
    background: var(--red);
    color: var(--black);
}

/*pink*/
.pink {
    background: var(--pink);
    color: var(--black);
}

/*purple*/
.purple {
    background: var(--purple);
    color: var(--white);
}

/*deep purple*/
.deep-purple {
    background: var(--deep-purple);
    color: var(--white);
}

/*indigo*/
.indigo {
    background: var(--indigo);
    color: var(--white);
}

/*blue*/
.blue {
    background: var(--blue);
    color: var(--black);
}

/*light-blue*/
.light-blue {
    background: var(--light-blue);
    color: var(--black);
}

/*cyan*/
.cyan {
    background: var(--cyan);
    color: var(--black);
}

/*teal*/
.teal {
    background: var(--teal);
    color: var(--black);
}

/*green*/
.green {
    background: var(--green);
    color: var(--black);
}

/*light-green*/
.light-green {
    background: var(--light-green);
    color: var(--black);
}

/*lime*/
.lime {
    background: var(--lime);
    color: var(--black);
}

/*yellow*/
.yellow {
    background: var(--yellow);
    color: var(--black);
}

/*amber*/
.amber {
    background: var(--amber);
    color: var(--black);
}

/*orange*/
.orange {
    background: var(--orange);
    color: var(--black);
}

/*deep-orange*/
.deep-orange {
    background: var(--deep-orange);
    color: var(--black);
}

/*brown*/
.brown {
    background: var(--brown);
    color: var(--white);
}

/*grey*/
.grey {
    background: var(--grey);
    color: var(--black);
}

/*black*/
.black {
    background: var(--black);
    color: var(--white);
}

/*blue-grey*/
.blue-grey {
    background: var(--blue-grey);
    color: var(--black);
}

/*white*/
.white {
    background: var(--white);
    color: var(--black);
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(0);
    }

    to {
        opacity: 0;
        transform: scale(10);
    }
}