/*!
 * This file contains all buttons and color fill rules
 * Author: Matheus Alexandre de Sena (@matthsena) 
 */
.btn {
    max-height: auto;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    letter-spacing: 1.25px;
    font-weight: bold;
}

.btn:active,
.btn:focus {
    outline: none;
}

.btn:hover {
    transition: all .3s linear;
    cursor: pointer;
    opacity: 0.8;
}

.btn::after {
    display: none;
    content: "";
    position: absolute;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100%;
    margin: -50% 0 0 -50%;
    top: 50%;
    left: 50%;
    animation: ripple 1s;
    opacity: 0;
}

.btn:not(:active)::after {
    display: block;
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(0);
    }

    to {
        opacity: 0;
        transform: scale(10);
    }
}