/*!
 * Author: Matheus Alexandre de Sena (@matthsena) 
 */
.card {
    margin: 15px 0 0;
    border: 1px solid rgb(224, 224, 224);
    padding: 15px 10px;
    border-radius: 5px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
}