[data-status="hidden"] {
    visibility: hidden;
    opacity: 0;
    transition: all .4s;
}

[data-status="show"] {
    visibility: visible;
    opacity: 1;
    transition: all .4s;
}

.modal,
.modal-content {
    z-index: 9999;
}

.modal {
    width: 100vw;
    height: 100vh;
    background: #0000009c;
    position: fixed;
    top: 0;
    left: 0;
}

.modal-content {
    overflow: hidden;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid rgb(142, 142, 142);
    border-radius: 5px;
}

.modal-header {
    margin: 15px 0 25px;
}

.modal-body {
    margin: 15px 0;
}