.header {
    width: 100vw;
    height: 60px;
    margin: 0 -15px;
    z-index: 999;
    box-shadow: 1px 1px 4px 0 var(--grey);
}

#btn-menu {
    display: none;
}

.header .nav-title {
    font-size: 30px;
    padding: 15px 0;
}

@media(min-width: 769px) {
    .header .nav-title {
        margin: 0 25px;
        position: absolute;
        top: 0;
    }

    .menu {
        padding: 20px;
        margin: 0 0 0 10%;
    }

    .nav-list .nav-link {
        font-size: 20px;
        display: inline;
        margin: 0 20px;
        overflow: hidden;
    }

    .nav-list .nav-link:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

@media(max-width: 768px) {
    .header .nav-title {
        text-align: center;
    }

    .overlay {
        opacity: 0;
        background: var(--black);
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        will-change: opacity;
        transition: opacity 150ms ease;
        pointer-events: none;
        z-index: 998;
    }

    #btn-menu:checked+.hamburger-menu+.overlay {
        opacity: 0.6;
        pointer-events: auto;
    }

    #btn-menu:checked+.hamburger-menu {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 47.971 47.971'%3E%3Cpath d='M28.228 23.986L47.092 5.122c1.172-1.171 1.172-3.071 0-4.242-1.172-1.172-3.07-1.172-4.242 0L23.986 19.744 5.121.88C3.949-.292 2.051-.292.879.88c-1.172 1.171-1.172 3.071 0 4.242l18.865 18.864L.879 42.85c-1.172 1.171-1.172 3.071 0 4.242.586.585 1.354.878 2.121.878s1.535-.293 2.121-.879l18.865-18.864L42.85 47.091c.586.586 1.354.879 2.121.879s1.535-.293 2.121-.879c1.172-1.171 1.172-3.071 0-4.242L28.228 23.986z'/%3E%3C/svg%3E");
    }

    .hamburger-menu {
        height: 20px;
        width: 20px;
        margin: 20px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M491.318 235.318H20.682C9.26 235.318 0 244.577 0 256s9.26 20.682 20.682 20.682h470.636c11.423 0 20.682-9.259 20.682-20.682 0-11.422-9.259-20.682-20.682-20.682zM491.318 78.439H20.682C9.26 78.439 0 87.699 0 99.121c0 11.422 9.26 20.682 20.682 20.682h470.636c11.423 0 20.682-9.26 20.682-20.682 0-11.422-9.259-20.682-20.682-20.682zM491.318 392.197H20.682C9.26 392.197 0 401.456 0 412.879s9.26 20.682 20.682 20.682h470.636c11.423 0 20.682-9.259 20.682-20.682s-9.259-20.682-20.682-20.682z'/%3E%3C/svg%3E");
        float: left;
        position: absolute;
        top: 0;
        z-index: 999;
        border-radius: 20px;
    }

    .menu {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        transition: -webkit-transform 150ms ease-out;
        transition: transform 150ms ease-out;
        transition: transform 150ms ease-out, -webkit-transform 150ms ease-out;
        background: #fff;
        position: absolute;
        min-width: 80%;
        height: 100vh;
        overflow-y: auto;
        padding: 8px 16px;
        z-index: 9999;
        margin: 60px 0 0 0;
    }

    #btn-menu:checked+.hamburger-menu+.overlay+.menu {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        box-shadow: 1px 1px 2px var(--strong-grey);
    }

    .nav-list {
        padding: 8px 0;
        margin: 0;
    }

    .nav-list .nav-link {
        display: block;
        margin: 0;
        padding: 16px 16px;
        font-size: 18px;
        color: var(--black)
    }
}